
a { color: #03e; }
a:hover { color: #c00; }

.fake_html { color: #999; white-space: pre-wrap; font-size: 75%; }
.fake_html .escape { color: #000; font-size: 133% }
.fake_html .bottom_li { margin-top:-2em; }
.fake_html a { color: #999; text-decoration: none; }
.fake_html a:hover { color: #c00; }
.fake_html a .link { color: #03e; text-decoration: underline; font-size: 133% }
.fake_html a:hover .link { color: #c00; }

ul.posts { list-style-type: none; margin-top: 0; margin-bottom: 0; }

p { margin-bottom: 0; margin-left: 1.75em; }
p:first-of-type { margin-top: 0; }
