@import url('resume.css');

#unfilter-button { display: none; }
.note { display: none; }
a:link { text-decoration: none; color: black }
a:visited { text-decoration: none; color: black }

#work { page-break-after: always; }
