<html>
  <head>
	<title>Ryan Fox - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Inconsolata|Crimson+Text" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>

<div class="fake_html">
&lt;html>
<span class="head">&lt;head></span>
<span class="title">&lt;title><span class="escape">Ryan Fox - {{ page.title }}</span>&lt;/title></span>
<span class="date">&lt;date><span class="escape">{{ page.date | date_to_string }}</span>&lt;/date></span>
<span class="head">&lt;/head></span>
<span class="body">&lt;body></span>
<span class="menu"><a href="/">&lt;a href="/"><span class="link">Home</span>&lt;/a></a> <!--<a href="/about.html">&lt;a href="/about.html"><span class="link">About</span>&lt;/a></a>--></span>
</div>

<div class="fake_html contentspan2">&lt;div class="post_content">
<div class="post_content escape">
{{ content }}
</div></div>
<div class="fake_html contentspan2">&lt;/div>
<a href="#comments">&lt;a href="#comments"><span class="link">Comments</span>&lt;/a></a></div>

<div class="fake_html"><span class="body">&lt;/body></span>
&lt;/html>
</div>

<div id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
	/**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'http://rcfox.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=rcfox">comments powered by Disqus.</a></noscript>
  <script type="text/javascript">
	var disqus_shortname = 'rcfox';
	(function () {
	var s = document.createElement('script'); s.async = true;
	s.src = 'http://disqus.com/forums/rcfox/count.js';
	(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
  </script>
</div>
  </body>
</html>
