<html>
  <head>
	<title>Ryan Fox - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
	<script type="text/javascript">
	  function truncate()
	  {
	  els = document.getElementsByClassName('badge-title');
	  for(i = 0; i < els.length; ++i)
					 {
					 for(j = els(i).textContent.length; j > 0; j -= 3)
		{		
		if(els(i).offsetWidth <= {{site.image_size}}) break;
								 els(i).textContent = els(i).textContent.substr(0,j)+"...";
								 }
								 }
								 }
								 </script>
  </head>
  <body onload="truncate()">
	<div id="container" class="vcard">
	  <div id="nav">
		<a class="url" href="/" rel="home">Home</a>
	  </div>
	  <div id="header">
		<img class="profile photo" src="http://www.gravatar.com/avatar/fcc79759f6398caee5df36cde61b36b7?s=80"/>
		<table>
		  <tr>
			<th>Name:</th><td class="fn">Ryan Fox</td>
		  </tr>
		  <tr>
			<th>Alias:</th><td><span class="nickname">rcfox</span>, <a class="url" href="http://twitter.com/RyanFox">@RyanFox</a></td>
		  </tr>
		  <tr>
			<th>Email:</th><td><a class="email" href="mailto:ryan@rcfox.ca">ryan@rcfox.ca</a></td>
		  </tr>
		</table>
		<div class="hidden adr">
		  <span class="locality">Waterloo</span>
		  <span class="region">Ontario</span>
		  <span class="country">Canada</span>
		</div>
	  </div>

	  <div id="content">
		{{ content }}
	  </div>
	</div>
  </body>
</html>
