<html>
  <head>
	<title>Ryan Fox - {{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
	<script type="text/javascript">
	  function truncate()
	  {
	  els = document.getElementsByClassName('badge-title');
	  for(i = 0; i < els.length; ++i)
					 {
					 for(j = els(i).textContent.length; j > 0; j -= 3)
		{		
		if(els(i).offsetWidth <= {{site.image_size}}) break;
								 els(i).textContent = els(i).textContent.substr(0,j)+"...";
								 }
								 }
								 }
								 </script>
  </head>
  <body onload="truncate()">
	<div id="container">
	  <div id="nav">
		<a href="/">Home</a>
	  </div>
	  <div id="header">
		<img class="profile" src="http://www.gravatar.com/avatar/fcc79759f6398caee5df36cde61b36b7?s=80"/>
		<table>
		  <tr>
			<th>Name:</th><td>Ryan Fox</td>
		  </tr>
		  <tr>
			<th>Alias:</th><td>rcfox, <a href="http://twitter.com/RyanFox">@RyanFox</a></td>
		  </tr>
		  <tr>
			<th>Email:</th><td><a href="mailto:ryan@rcfox.ca">ryan@rcfox.ca</a></td>
		  </tr>
		</table>
	  </div>

	  <div id="content">
		{{ content }}
	  </div>
	</div>
  </body>
</html>
